$padding-x-mobile: 6.25rem;
$padding-x-sm: 9.375rem;
$padding-x-md: 12.5rem;
$padding-x: 15.625rem;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$white: #fff;